{% extends 'base/base.html' %}

{% block titulo %}Registrar{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% if form.errors %}
    {% for campo in form %}
      {% for error in campo.errors %}
          <div class="alert alert-danger">
              <strong>{{ campo.label }} - {{ error | escape }}</strong>
          </div>
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{campo.label}} - { error | escape }} </strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {{form}}
  {{form2}}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
    </div>
</form>
<style>
  label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  .fecha-control {
    width: 15%;
    display: inline-block;
  }
</style>
{% endblock %}
