{% extends 'base/base.html' %}
{% block content %}
    <div class="detallesproducto">

        <img src="{{ object.imagen }}" alt="" class="imgs"/>
        <p>{{ object.nombre }}</p>
        <p>{{ object.descripcion }}</p>
        <p>{{ object.precio }}</p>

    </div>

    {% if user.is_authenticated and not user.is_staff %}
        <span >
            <a href="{% url 'venta:agregar-a-carrito' atraccion.pk %}">Agregar al Carrito</a>
        </span>
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url 'atraccion:editar' atraccion.pk %}">Editar</a>
        <a href="{% url 'atraccion:eliminar' atraccion.pk %}">Eliminar</a>
    {% endif %}

<style>
.detallesproducto{

    border: 15px;
    border-color: red;
    text-align: center;
}
p{
    text-align: center;
}
.imgs{
  max-width: 10%;
  height: auto;
  margin-bottom: 4%;
  border: 10px;
  border-color: red;
}
</style>
{% endblock %}