{% extends 'base/base.html' %}
{% block content %}
    <div class="detallesproducto container">

        <img src="{{ object.imagen }}" alt="" class="imgs"/>
        <h1 class="titulodetalle">{{ object.nombre }}</h1>
        <p class="textodetalle">{{ object.descripcion }}</p>
        <h5 class="preciodetalle">{{ object.precio }}</h5>

    </div>

    {% if user.is_authenticated and not user.is_staff %}
        <span class="editardetalle">
            <a class="botonagregar" href="{% url 'venta:agregar-a-carrito' atraccion.pk %}">Agregar al Carrito</a>
        </span>
    {% endif %}
    {% if user.is_staff %}
        <div  class="editardetalle" >
        <a class="botoneditar" href="{% url 'atraccion:editar' atraccion.pk %}">Editar</a>
        <a class="botoneliminar" href="{% url 'atraccion:eliminar' atraccion.pk %}">Eliminar</a>
        </div>
    {% endif %}
{% endblock %}