{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block extrastatic %} {% endblock %}
    <title>Divertyland - {% block titulo %}Inicio{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="static/img/tobogan.png"
      type="image/x-icon"
    />
    {% load bootstrap4 %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
  </head>
  <body>
    {% block navbar %} 
    {% include 'base/menu.html'%}
    {% endblock %} 

{% block content %}

    <main class="container contenidopagina">
      <section class="page-section">
        <div class="container">
          <div class="text-center">
            <img src="static/img/tobogan.png" alt="Tobogan" class="imagenbase">
            <h3 class="section-subheading parrafo ">
              No te querrás perder todas las atracciones que tenemos disponibles para ti, vivirás una experiencia maravillosa rodeada de tus seres más amados, te ofrecemos las mejores atracciones acuáticas veras y conocerás especies que no habías visto antes aprenderás con nosotros  sobre nuestro hermoso mariposario 
            </h3>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="static/img/amigos.jpg" class="imagenes" alt="amigos">
              </span>
              <h4 class="my-3">E-Commerce</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                maxime quam architecto quo inventore harum ex magni, dicta
                impedit.
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="static/img/familias.jpg" class="imagenes" alt="familias">
              </span>
              <h4 class="my-3">Responsive Design</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                maxime quam architecto quo inventore harum ex magni, dicta
                impedit.
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img src="static/img/parejas.jpg" class="imagenes" alt="parejas" >
              </span>
              <h4 class="my-3">Web Security</h4>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                maxime quam architecto quo inventore harum ex magni, dicta
                impedit.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock %}
     
    {% block footer %} 
    {% include 'base/footer.html'%} 
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %} {% endblock %} {% bootstrap_javascript jquery='full' %}
  </body>
</html>
