{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrastatic %} {% endblock %}
    <title>Divertyland - {% block titulo %}Inicio{% endblock %}</title>
	  {% load bootstrap4 %}
	  {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
  </head>
  <body>
    {% block navbar %}
      {% include 'base/menu.html'%}
    {% endblock %}

    {% block content %}

    <main class="container">
      <div class="container">

        <h2 class="contenidos">Porque Queremos que tus días sean únicos </h2>

        <p class="parrafo">
          Nos encanta ver que disfrutas de nuestras atracciones en familia y ser la razon por la cual sonries
          Nos encanta ver que disfrutas de nuestras atracciones en familia y ser la razon por la cual sonries
          Nos encanta ver que disfrutas de nuestras atracciones en familia y ser la razon por la cual sonries
        </p>

        <div class="text-center">

          <img src="{% static 'img/familias.jpg'%}" alt="Familia" class="imagenes">
          <img src="{% static 'img/parejas.jpg'%}" alt="Parejas" class="imagenes">
          <img src="{% static 'img/amigos.jpg'%}" alt="amigos" class="imagenes">

        </div>

      </div>
    </main>

    {% endblock %}

    {% block footer %}
      {% include 'base/footer.html'%}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %} {% endblock %}
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
