{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrastatic %} {% endblock %}
    <title>Divertyland - {% block titulo %}Inicio{% endblock %}</title>
	  {% load bootstrap4 %}
	  {% bootstrap_css %}
  </head>
  <body>
    {% block navbar %}
      {% include 'base/menu.html'%}
    {% endblock %}
    <div class="container">
      {% block content %}
        <h4>Bloque de contenido vacio</h4>
      {% endblock %}
    </div>
      {% block footer %}
        {% include 'base/footer.html'%}
      {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %} {% endblock %}
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
