{% load static %}
<footer class="footer py-4 colores">
  <div class="container">
    <div class="row align-items-center derechos">
      <div class="col-lg-4 text-lg-start">
        <h3 class="titulo">nos encanta ver te feliz</h3>
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a
          href="https://www.facebook.com/mariacamila.lopez.16752754/"
          class="text-white mr-1"
        >
          <i class="fab fa-facebook-f"></i>
          <img
            src="{% static 'img/facebook.png' %}"
            alt="facebook"
            class="image"
          />
        </a>
        <a href="https://www.instagram.com/" class="text-white mr-1">
          <i class="fab fa-instagram"></i>
          <img
            src="{% static 'img/instagram.png'%}"
            alt="instagram"
            class="image"
          />
        </a>
        <a href=" https://wa.link/8ixv3u" class="text-white">
          <i class="fab fa-whatsapp"></i>
          <img
            src="{% static 'img/whatsapp.png' %}"
            alt="whatsapp"
            class="image"
          />
        </a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <small>&copy; Todos los derechos reservados</small>
      </div>
    </div>
  </div>
</footer>
