<header class="menus">
  <div class="container">
    <div class="row justify-content-lg-between justify-content-center py-3 align-items-center">

      <div class="col-2  text-center ">
        <h1><a href="#" class="text-dark website-title">Divertiland</a></h1>
        <img src="static/assets/img/logo.jpg" alt="">
      </div>


      <div class="col-auto ">
        <ul class="nav">
          <li class="nav-item">
            <a href="{% url 'aplicacion:index' %}" class="nav-link ">Home</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'atraccion:lista' %}" class="nav-link">Atraccciones</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Carrito</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'usuario:logout' %}" class="nav-link">Cerrar Sesión</a>
            </li>
          {% else %}
            <li class="nav-item botones-registro">
              <a href="{% url 'usuario:login' %}" class="nav-link">Iniciar Sesión</a>

              <a href="{% url 'usuario:registrar'%}" class="nav-link " >Registrar</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>
