
<ul class="pagination center">
{% if clientes.has_previous %}
    <li class="active">
        <a href="?page=1">Primera </a>
            </li>
                <li class="waves-effect waves-teal ">
                <a href="?page={{ clientes.previous_page_number }}">&laquo;</a>
            </li>
            {% endif %}
            {% for page in paginas %}

            <li class="waves-effect waves-teal {% if paginactual == page %} active {% endif %} ">
                <a href="?page={{  page }}">{{ page }} </a>
            </li>
            {% endfor %}
            {% if clientes.has_next %}
            <li class="active">
                <a href="?page={{  clientes.next_page_number }}">&raquo; </a>
            </li>
            <li class="waves-effect waves-teal ">
                <a href="?page={{ clientes.paginator.num_pages }}">Ultima</a>
            </li>
{% endif %}
</ul>

