{% extends 'aplicacion/base.html' %}
{% load static %}
{% block titulo %}login {% endblock %}

{% block contenedor %}
  <!--Aqui va el div padre-->
  <div class="contenedor-principal">
    <div class="section container ">


      <h1 class="center-align black-text welcome ">Bienvenido!!!</h1>
      <div class="row card-panel">
        <form class="col s12">
          <div class="row ">
            <div class="input-field col s9">
              <span class="material-icons prefix">
                people
              </span>
              <input type="text" id="nombre_usuario" class="validate" required>
              <span class="helper-text" data-error="Ingrese id valido"></span>
              <label for="nombre_usuario" class="black-text">Nombre</label>
            </div>
            <div class="input-field col s9">
              <span class="material-icons prefix">
                markunread
              </span>
              <input type="email" id="email_usuario" class="validate" required>
              <span class="helper-text " data-error="Ingrese una identificacion valida"></span>
              <label for="email_usuario" class="black-text">Email</label>

            </div>
            <div class="input-field col s9">
              <span class="material-icons prefix">
                markunread
              </span>
              <input type="email" id="contraseña_usuario" class="validate" required>
              <span class="helper-text " data-error="Ingrese una identificacion valida"></span>
              <label for="contraseña_usuario" class="black-text">Contraseña</label>


            </div>
            <div class="input-field col s4">
              <a class="waves-effect waves-light btn large boton-formularios">Iniciar Sesion</a>


            </div>
          </div>
      </div>
    </div>
    
 
{% endblock %}
    












