body{
  background-color: #FCFAFA;
  font-weight: normal;
  word-spacing: 1px;
  font-family:sans-serif;
}
/*menu*/
.menus{
  background: linear-gradient( -160deg, #FFFD98 10%, #f0efac 90%);
  padding: 30px;
}
a {
  color:black;
  text-decoration: none;
  text-align: center;
}

/*base */
.contenidos {
  text-align: center;
  padding: 30px;
  margin-top:10px;
  font-size: 25px;
}
.imagenes{
  width: 20%;
  display: flex;
  margin: auto;
  image-rendering: auto;
  align-content:center;
}
.parrafo{
  padding-top:20px;
  margin-top: 10px;
}
.parrafos{
  margin-top: 10px;
  padding-top: 10px
}
.parrafoo{
  margin-top: 10px;
  padding-top: 10px
}

/*footer*/
.colores{
  background-color: #FFFD98;
  padding-top: 20px;
  margin-top: 30px
}
.listar{
  display:flex;
  border:1px solid;
  align-items: center;
  border-color: aqua;
}
.tex {
  text-align: right;
  text-transform: capitalize;
}
.piedepagina{
  padding:10px;
  margin:15px;
}
.derechos{
  text-align: center;
}
.image {
  width: 30px;
  align-items: center
}
.titulo{
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: capitalize;
}
.logo{
  width: 100px;
  display: block;
  margin: auto;
  border-color:black;
  border-radius: 5px;
  border: 5px;
}
.botones-registro a{
  display: inline-block;
}


