body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-image: url(/img/algodondeazucar.jpg)
}

/*menu*/
.menus{
  background: linear-gradient( -160deg, #FFFD98 10%, #caf0f8 90%);
  padding: 10px;
}
a {
  color:black;
  text-decoration: none;
  text-align: center;
}

/*base */
.imagenbase{ 
  width: 20%;
  height: 10%;
  padding: 2%;
  margin-top:2%;
  border: 2px solid;
  border-color: #FFFD98;
}
.contenidopagina{
  min-height: 76vh;
}
.color{
  background-color: aqua;
}
.contenidos {
  text-align: center;
  padding: 30px;
  margin-top:2%;
  font-size: 25px;

}
.imagenes{
  width: 60%;
  height: 45%;
  padding: 2%;
  margin-bottom: 4%;

}
.parrafo{
  padding-top:20px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.parrafos{
  margin-top: 10px;
  padding-top: 10px
}
.parrafoo{
  margin-top: 10px;
  padding-top: 10px
}

/*footer*/
.colores{
  background: linear-gradient( -160deg,  #caf0f8 10%, #FFFD98 90%);
  padding-top: 20px;
  margin-top: 30px
}
.listar{
  display:flex;
  align-items: center;
}
.tex {
  text-align: right;
  text-transform: capitalize;
}
.piedepagina{
  padding:10px;
  margin:15px;
}
.derechos{
  text-align: center;
}
.image {
  width: 30px;
  align-items: center
}
.titulo{
  color: rgb(0, 0, 0);
  text-align: left;
  text-transform: capitalize;
}
.logo{
  width: 100px;
  display: block;
  margin: auto;
  border-color:black;
  border-radius: 5px;
  border: 5px;
}
.botones-registro a{
  display: inline-block;
}
/*lista de atraccion  */
.paginador {
  text-align: center;
  list-style: none;
}
.paginador li {
  display: inline-block;
}
.card-img-top {
  margin-bottom: 4%;
  height: 45%;
  padding: 2%;
  margin-bottom: 4%;
}
.atracciones{
  margin-bottom: 4%;
  background-color:#dcf8fd;
  margin-top: 4%;
  padding: 2%;
}
.atraccion{
  margin-top: 4%;
}
.estilostitulo{
  margin-bottom: 4%;
}
/* detalle de atraccion  */
.detallesproducto{
  text-align: center;
  margin-bottom: 4%;
  background-color:#dcf8fd;
  margin-top: 4%;
  padding: 2%;
}
p{
  text-align: center;
}
.imgs{
max-width: 50%;
height: 45%;
margin-bottom: 4%;
border: 10px;
border-color: red;
}
.textodetalle{
  text-transform: capitalize;
}
.titulodetalle{
  margin-top: 2%;
  margin-bottom: 2%;
}
.preciodetalle{
  margin-top: 2%;
}
.editardetalle{
  text-align: center;
}
.botoneditar{
  text-align: center;
  border: 3px solid;
  border-color:#FFFD98;
  padding: 6px;
  margin-right: 2%;
}
.botoneliminar{
  text-align: center;
  border: 3px solid;
  border-color:#FFFD98;
  padding: 6px;
  margin-right: 2%;
}
/* agregar a el carrito se encuentra en detalles.html*/
.botonagregar{
  text-align: center;
  border: 3px solid;
  border-color:#FFFD98;
  padding: 6px;
  margin-right: 2%;
}
.detallesproducto{
  text-align: center;
}
/* historial carrito  */



