body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-image: url(/img/algodondeazucar.jpg)
}

/*menu*/
.menus{
  background-color: #fffd98;
  /*background: linear-gradient( -160deg, #bafff9 50%, #FFFD98 0%);*/
  padding: 15px;
}

/*base */
.color{
  background-color: aqua;
}
.contenidos {
  text-align: center;
  padding: 30px;
  margin-top:10px;
  font-size: 25px;

}
.imagenes{
  width: 20%;
  display: flex;
  margin: auto;
  image-rendering: auto;
  align-content:center;
}


/*footer*/
.colores{
  background-color: #f0ed44;
  padding-top: 20px;
  margin-top: 30px
}
.image {
  width: 30px;
  align-items: center;
  padding: 10px;
}



