{% extends 'base/base.html' %}
{% load static %}
{% block contenedor %}
<!--Preloader-->

<!--Presentacion header-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container-texto">
    <h1 class="header center black-text">Diverty</h1>
    <div class="row center">
      <h2 class="subtitulo">Cada dia será aún más divertido</h2>
      <p class="header col s12 light parrafo-banner ">Somos una plataforma que cada dia trabaja para hacer tus dias
        divertidos unicos y sin tantos contratiempos</hp>
    </div>
    <div class="row center">
      <a class="btn  waves-light blue lighten-4 black-text" type="submit" name="action">Ver más
        <i class="material-icons right ">send</i>
      </a>



    </div>
  </div>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="{% static 'diverty/img/personas-alegres.webp' %}"
        alt="Imagen de 2 mujeres alegres en un parque de diversiones"></a>
    <a class="carousel-item" href="#three!"><img src="{% static 'diverty/img/montaña-rusa.webp' %}"
        alt="Imagen de una montaña rusa"></a>
    <a class="carousel-item" href="#two!"><img src="{% static 'diverty/img/tranquilidad.webp' %}"
        alt="Imagen de un estacionamiento de comida en un parque de diversiones"></a>
  </div>
</div>
<main>
  <div class="row">

    <div class="col  s12">
      <div class="container-nuestros-servicios">
        <h3 class="center titulo-nuestros-servicios">Nuestros Servicios</h3>
        <p class="center ">Siempre mejorando para ti</p>
      </div>
    </div>
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="imagen-block center">
              <img class=" responsive-img" src="{% static 'diverty/img/carrusel-ninos.webp' %}" alt="Carrusel de niños">
              <h3 class="center titulo-servicio1 ">Carrusel</h3>

              <p class="light">Para los niños ofrecemos el carrusel un juego de atraccion donde ellos podrán expresar su
                creatividad a la hora de subir a divertirse.</p>
                <a class=" waves-light btn-small black-text  carrito1">Comprar boleta</a>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="imagen-block center">
              <img class=" responsive-img" src="{% static 'diverty/img/carros-chocones.webp' %}" alt="Carros chocones">


              <h3 class="center titulo-servicio2">Carritos chocones</h3>

              <p class="light">Te ofrecemos para ti y tu familia la emoción de sentir la adrenalina de poder divertirte
                con nuestros carritos chocones.</p>
                <a class=" waves-light btn-small black-text  carrito2">Comprar boleta</a>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="imagen-block center">
              <img class=" responsive-img" src="{% static 'diverty/img/montana.webp' %}" alt="Montaña rusa ">
              <h3 class="center titulo-servicio3">Montaña rusa</h3>

              <p class="light">Siente la adrenalida, emocion y seguridad al montar en nuestra montaña rusa</p>
              <a class=" waves-light btn-small black-text  carrito3">Comprar boleta</a>
            </div>
          </div>
        </div>

      </div>
      <br><br>
    </div>

</main>
{% endblock %}